@import "tailwindcss";
@import "tailwindcss/preflight";
@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-night-800: #0a0a0a;
	--color-night-500: #1f1f1f;
	--color-jet: #292929;
	--color-silver: #c2c2c2;

	/* Text colors based on mode */
	--color-text-light: #ffffff;
	--color-text-dark: #000000;
}

@layer base {
	/* Default light mode text */
	body {
		color: var(--color-text-dark);
	}

	/* Dark mode text */
	.dark body {
		color: var(--color-text-light);
	}
}
